<div class="img"><%=image_tag("Cymbidium.jpg", alt: "Cymbidium orchid")%></div>
<div class="img"><%=image_tag("Phaleonopsis.jpg", alt: "Phaleonopsis orchid")%></div>


<div id="title"><a href="/products">Zareh's House of Orchids - A world of orchids in one click!</a></div>


<div class="img"><%=image_tag("Vanda.jpg", alt: "Vanda orchid")%></div>
<div class="img"><%=image_tag("Zygopetalum.jpg", alt: "Zygopetalum orchid")%></div>
