<div class="img"><img src=<%=image_url("cymbidium.jpg") %> alt="cymbidium orchid"></div>
<div class="img"><img src=<%=image_url("phal.jpg") %> alt= "phaleonopsis orchid"></div>


<div id="title"><a href="/products">Zareh's House of Orchids - A world of orchids in one click!</a></div>


<div class="img"><img src=<%=image_url("vanda.jpg") %> alt="vanda orchid"></div>
<div class="img"><img src=<%=image_url("zygo.jpg") %> alt="zygopetallum orchid"></div>
