<div class="img"><%=image_tag("cymbidium.jpg", alt: "cymbidium orchid")%></div>
<div class="img"><%=image_tag("phal.jpg", alt: "phaleonopsis orchid")%></div>


<div id="title"><a href="/products">Zareh's House of Orchids - A world of orchids in one click!</a></div>


<div class="img"><%=image_tag("vanda.jpg", alt: "vanda orchid")%></div>
<div class="img"><%=image_tag("zygo.jpg", alt: "zygopetallum orchid")%></div>
