<header>
  <h1>Contact Us</h1>
</header>
<section>
<h2 id="address">Our address</h2>
<p>Zareh's Orchid House</p>
<p>1 Orchid Street</p>
<p>Cambridge</p>
<p>CB1 1BC</p>
<p>Tel: 01223 123456</p>
</section>
<p><strong>Please use the link below to contact us if you have any questions</strong></p>

<%= link_to "Send us a message!", new_message_path, class: "link_button" %>

