h1 {
  color: purple;
  font-style: italic;
  text-align: center;
  font-size:  30pt;
}

div.img {
  margin: 50px;
  float: left;
  width: 100px;
}

div.img img {
  width: 150px;
  height: 150px;
}

div.desc {
  padding: 15px;
  text-align: left;
}

div.desc li {
  list-style-type: none;
}