<header>
  <h1>Orchids available today!</h1>
</header>
  <ul class="orchids">
      <% @products.each do |product| %>
        <div class="img"><%=image_tag("#{product.name}.jpg", alt: "#{product.name}.jpg")%>
          <div class="desc"><h3><%= product.name %></h3>
            <li id="<%= product.id %>">
              <%= link_to "Details", product_path(product) %>
            </li>
          </div>
        </div>
      <% end %>
  </ul>