<header>
  <h1>Products</h1>
</header>
<body>
  <ul class="orchids">
    <li>
      <% @products.each do |product| %>
        <h3><%= product.name %></h3>
        <li>
          <%= link_to "Details", product_path(product) %>
        </li> 
      <% end %>
    </li>
  </ul>
</body>