<h2><%= @product.name %></h2>
<p>Price: <%= @product.price %></p>
<p>Number in stock: <%= @product.quantity %></p>
<ul>
  <li>
      <%= link_to "Edit Product", edit_admin_product_path %>
  </li>
</ul> 